
/*Main container styles - outer wrapper of About Me, Work, and Contact Me sections*/
.main-container {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:auto;
    padding-right: 2%
}

.main-container h2 {
    width: 15%;
    padding-right: 2%;
    text-align:right;
    font-weight: 500;
}

.main-container .aboutme-info-container,
.main-container .projects,
.main-container address,
.main-container .project-details {
    width:75%;
    height:auto;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left:2%;
}

/*Main-sections - styles for each section within the main wrapper*/
.aboutme-container,
.work-container,
.contactme-container {
    width:100%;
    display:flex;
    flex-flow: row;
    margin-top:10px;
    margin-bottom:15px;
}

.aboutme-container h2,
.work-container h2,
.contactme-container h2 {
    color:var(--primary);
    font-size:2.5em;
    border-right: 2px double var(--pop);
}

/*Styles specific to the AboutMe section*/
.aboutme-container .aboutme-info-container {
    flex-grow: .40;
    display: flex;
    color: var(--primary);
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom:1%;
    padding-left: 2.5%;
}

.aboutme-headshot {
    width:100px;
    height:100px;
    display: inline;
    float:inline-start;
    border-radius: 25px;
    border: 5px solid var(--primary);
    margin: auto 2% auto 2%;
}

.aboutme-info-container p {
    text-align: justify;

}

/*Styles specific to Projects section*/
/*setting flex properties for project wrapper*/
.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    align-content: center;
    flex:50%;
    margin-right:1%;
}
    /*setting shared project button properties*/
.projects button {
    text-decoration: none;
    display:block;
    position: relative;
    border-radius: 25px;
    border: 5px solid var(--primary);
    margin: 2%;
    /*Creates shadow effect on inside of box: x-offset, y-offset, spread, color*/
    box-shadow: inset 60px 60px 120px var(--primary);
 }

 .projects button:hover {
     background-blend-mode: soft-light;
     transition: all, 3s, ease-in;
     background-color:var(--secondary);
 }

    /*setting size of project images*/
 .projects button {
    flex: 0 0 46%;
    height: 150px;
 }

.projects #work1 {
    background-image: url("../../assets/sharespace_resize.png");
    background-size: cover;
}

.projects #work2 {
    background-image: url("../../assets/emp_react_app.png");
    background-size: cover;
}

.projects #work3 {
    background-image: url("../../assets/project1_moviedrink_matchmaker_resized.png");  
    background-size: cover;
}


.projects #work4 {
    background-image: url("../../assets/Code_Quiz_resized.png");
    background-size: cover;
}

.projects #work5 {
    background-image: url("../../assets/Weather_Dashboard_resized.png");
    background-size: cover;

}

.projects #work6 {
    background-image: url("../../assets/workday_scheduler_resized.png");
    background-size: cover;
}

    /*setting h2 properties shared by all applications 1-5*/
.projects h2 {
    display:inline-block;
    border-right: 3px solid var(--primary);
    border-top:3px solid var(--primary);
    border-bottom:3px solid var(--primary);
    background-color: var(--tertiary);
    color: var(--primary);
    text-decoration: none;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size:1em;
}

    /*setting h2 displayed on applications 2-5*/
.projects button h2 {
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    position: absolute;
    top:65px;
    left: 0px;
    width:100px;
}

/*Styles specific to ContactMe wrapper*/
.contactinfo-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.contactinfo-container ul{
    display: flex;
    justify-content:space-evenly;
}

.contactinfo-container li {
    list-style-type:none;
    display:inline-block;
    align-items: center;
    align-content:center;
}
    
.contactinfo-container a {
    background-repeat: no-repeat;
    background-image: linear-gradient( var(--pop) 0%, var(--pop) 100%);
    background-position: bottom;
    background-size: 100% 0.1em;

    text-decoration:none;
    color: var(--primary);
    font-size: 1.5em;
}
    /*Setting anchor transition for contact information*/
.contactinfo-container a:hover {
    transition: all 0.25s ease-in;
    background-size: 100% 100%;
    color: var(--tertiary);
}

/*Custom sytle for the modals*/
/*Resaving - height isn't being seen when pushed up*/
.custom-modal {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 75%;
    padding: 50px;
}

.custom-modal h3 {
    color: var(--pop);
    font-size: 1.75em;
    font-weight: bolder;
}
.custom-modal h4 {
    font-weight: bolder;
    font-size: 1.5em;
}

.custom-modal p {
    padding-bottom: 10px;
    font-size: 1.25em;
}

.custom-modal a {
    padding-top:5px;
    padding-bottom: 10px;
    font-size: 1.25em;
}

.custom-modal a:hover {
    color: var(--pop);
}

/*Project details styles*/
.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-details .project-image {
    border-radius: 25px;
    width: 96%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.project-details h3 {
    color: var(--pop);
    font-size: xx-large;
}
.project-details h4 {
    color: var(--pop);
    padding-top: 2%;
    font-size: x-large;
}

/*Changes to layout when screen size is between 576px and 992px*/
@media screen and (max-width: 992px) {
    /*Changing header display*/
    .header-container {
        justify-content:space-around;
    }

    /*Changing name display*/ 
    .name {
         width:100%;
         background:var(--pop);
     }

     .name h1 {
         text-align:center;
          color: var(--primary) 
     }

     /*Changing catch-phrase display*/
     .catch-phrase {
         width:100%;
         background:var(--secondary);
     }

     .catch-phrase {
         text-align: center;
     }
     /*Changing navigation display*/
     .nav-container {
         width:100%;
         background:var(--tertiary);
     }

     .nav-container ul{
         justify-content: center;
     } 

    /*Changing AboutMe, Work, Contact Me to display as column*/
    .aboutme-container,
    .contactme-container,
    .work-container {
        flex-direction: column;
        align-items:center;
        align-content:center;
    }

    /*Changing appearance of items insdide AboutMe, Work, and Contact Me*/
    .aboutme-container h2,
    .contactme-container h2,
    .work-container h2 {
        width:100%;
        background-color: var(--primary);
        color:var(--tertiary);
        text-align:center;
        border:none;
        padding:0;
    }

    .aboutme-container .aboutme-info-container {
        width:auto;
        padding:1%;
    }

    /*Additoinal modifications for Projects Container*/
    .main-container .projects {
        width: 100%;
        margin-left:2%;
        padding: 1%;
    }

    .work-container .projects h2 {
        border-right: 3px solid var(--primary);
        border-top:3px solid var(--primary);
        border-bottom:3px solid var(--primary);
        background-color: var(--tertiary);
        color: var(--primary);
        text-decoration: none;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size:1em;
    }
     
    /*Additional modifications for Contact Me Container*/
    .contactme-container .contactinfo-container {
        width: 100%;
        padding: 0%;
    }

    .contactinfo-container ul{
        flex-direction:column;
        align-items: center;
        line-height: 200%;
    }

    .contactinfo-container a {
        color: var(--pop);
    }
}

/*Changes to layout when screen size is less than or equal to 576px*/
@media screen and (max-width:576px) {
    /*Changing nav-ul flex direction to column*/
    .nav-container ul {
        flex-direction: column;
        align-items: center;
        border-top: 2px ridge var(--pop);
        border-bottom: 2px ridge var(--pop);
    }

    .nav-container li {
        border: none;
        line-height: 200%;    
    }

    /*Changing About Me Information to display vertical*/
    .aboutme-info-container {
        flex-direction: column;
        align-items: center;
    }

    /*Changing Projects container to display 100% of width*/
    .main-container .projects {
        width:100%;
    }
    /*Changing Work Images (2-5) to display 100% of width*/
    .projects button {
        flex:0 0 96%;
    }

}